<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Class</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <h1>Welcome to Online classes</h1>
    </header>
    <div class="main-container">
        <nav>
            <a href="/"><span>Home</span></a>
            <a href="/"><span>LogIn</span></a>
        </nav>
        <div class="login">
            <h2>SignUp</h2>
            <form onsubmit="handleFormSignup(event)" method="POST">
                <label for="name">Name*:
                    <input type="text" name="name" id="name" placeholder="Anchal Koshta" required />
                </label>
                <label for="email">Email*:
                    <input type="email" name="email" id="email" placeholder="abc@xyz.com" required />
                </label>
                <label for="role">Role:
                    <select name="role" id="role">
                        <option name="student" selected disabled>Select Your Role</option>
                        <option name="student" id="student">Student</option>
                        <option name="Admin" id="Admin">Admin</option>
                    </select>
                </label>

                <label for="pass">password*:
                    <input type="password" name="pass" id="pass" placeholder="Your Password" required />
                </label>
                <button type="submit">SignUp</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
    <script src="/js/signup.js"></script>
</body>

</html>